p {
	color: red;
}
h1	{
	color: orange;
}

.img-circle {
	border-radius: 50%; 
	border-style: solid;
}

.img-square {
	border-height: 300px;
	border-width: 300;
}
table  {
	width: 100%;
}

th {
	height: 50px;
	background-color: white;
	color: silver;

}
.div-1 {
	background-color: lightblue;
	padding: 50px;
	font-color: red;
}
.div-1 p{
	color: black;
}